.chat{
flex:3;
display: flex;
flex-direction: column;
height: 100vh;
}
.contacts{
flex:1;

}
.flex-divider{
    flex:4
}


.contact-header{
    color: white;
    margin-top: 8px;
    background-color: #d4c8e0;
}

.chat-header{
    width: 100%;
    height: 70px;
    max-height: 60px;
    border-radius: 10px 10px 0 0 ;
    background-color: rgb(41,49,76);
    flex:0.5
}

.my-msg-container{
    background-color: #532F62;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 200px;
    padding: 10px 40px;
    margin: 10px;
    margin-bottom: unset;
    border-radius: 10px;
    color: #e7e7e8;
    align-self: flex-end;
  }

  .others-msg-container{
    background-color: #14093e;
    align-self: flex-start;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 200px;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
    color: #e7e7e8;
    

  }

  .my-msg{
    align-self: flex-end;
    margin-right: -24px;
  }

  .others-msg{
    align-self: end;
    margin-inline: unset;
    min-width: 70px;
    width: fit-content;
  }


.chat-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.chat-footer form{
    height: 70px;
    width: 100%;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex:0.5;
    background-color: #D4C8E0;

}

.chat-body{
    flex:3;
    display: flex;
    flex-direction: column;
    background-image: url('https://1.bp.blogspot.com/-BqyLwDjzgtc/X1Dinb86T0I/AAAAAAAAaek/hcR7gfjykxkOHXYynBxcvb3-WQDVTgOugCLcBGAsYHQ/w439-h781/wallpaper-4k-heroscreen.png');
    opacity: 0.7;
    overflow-y: scroll;
}

span{
    overflow-wrap: anywhere;
  }
  
#message-input{
    overflow-wrap: anywhere;
    width: 90%;
    margin-inline: 10px;
    border-radius: 25px;
    padding: 9px 18px;
    font-weight: 800;
    background-color: #ebEAE4;
}
#send-button{
    margin-bottom: unset;
}

.contacts-header{
    margin-top: 92px;
    margin-left: -2px;
    width: 100%;
    height: 100px;
    min-height: 1px;
    background-color: #532F62;
    border-top-right-radius: 100px;
    color: white;
}

.contacts-list{
    display: flex;
    flex-direction: column;
    border-left-style: unset;
    border-bottom-style: outset;
    height: 60%;
    background-color: #b994b7;
    opacity: 0.8;
    border-bottom-left-radius: 36px;
    overflow-y: scroll;

}

.selected-contact{
    border-left-style: inset!important; 
    background-color: #D4C8E0!important;
    border-bottom-style: inset!important;
}